# Настройки для приложения

# Секретный токен от Телеграмм бота.
TOKEN_TG_API = token

# Секретный ключ от API сайта
X-RapidAPI-Key = secret_key

# Адрес Хоста API
X-RapidAPI-Host = name_host

# Логин Бд MySQL
USER_MYSQL = login

#Пароль от логина БД MySQL
Password_SQL = password

#Адрес Хотса БД MySQL
HOST_BD = host

#Название БД к которой будет произведено подключение.
NAME_DB = name_db

#Указать адрес порта БД.
PORT_DB = port